@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.community-modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 20;
}

.overlay {
  background: #000000;
  opacity: 0.1;
}

.quill .ql-container.ql-snow {
  border: none;
  font-size: 15px;
}
.quill .ql-toolbar.ql-snow {
  border: none;
  position: absolute;
  top: 50px;
  left: 17px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.ql-editor{
  padding-top: 20px!important;
}